::selection {
	background: #e74c3c;
	color: #fff;
}

a {
	color: inherit;
}

.love {
	color: #e74c3c;
}

body {
	font-family: "Hind", sans-serif;
	line-height: 1.68;
}

.hero {
	line-height: 1.4;
	font-weight: normal;
}

p:first-child, .hero {
	margin-top: 0;
}

header, footer, section {
	padding: 7.5vh 0;
}

.gray {
	background: whitesmoke;
	border: 1px solid #eee;
}

main, .gray {
	padding: 2vw;
}

.organizations, .loader {
	margin: 0 auto;
	transition: 0.5s opacity;
	text-align: center;
}

.loader {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
}

article, .contributor {
	text-align: left;
	background: #fff;
	display: inline-block;
	font-size: 90%;
	padding: 25px;
	margin-bottom: 2vw;
	margin-right: 1.5vw;
	box-sizing: border-box;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
	border: 1px solid #eee;
	height: 400px;
	width: 25%;
	transition: 0.3s;
	border-radius: 2px;
}
.contributor {
	width: 220px;
	text-align: center;
}

.contributor img {
	display: block;
	margin: 0 auto 20px auto;
	border-radius: 100%;
}

.gutter-sizer, .contributor-sizer {
	width: 2vw;
}

.article h2 {
	font-size: inherit;
	margin: 0 0 10px 0;
}

.article p {
	margin-bottom: 0;
}

p:last-child {
	margin-bottom: 0;
}

main a {
	color: inherit;
	text-decoration: none;
}

.article:focus, .article:hover {
	outline: none;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.logo {
	height: 195px;
	background: #ccc;
	margin: -25px -25px 25px -25px;
	overflow: hidden;
	text-align: center;
	border-radius: 2px 2px 0 0;
}

.logo img {
	max-height: 195px;
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}
.logo:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

h3 {
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 2vw;
	color: #888;
	text-align: center;
}

pre {
	white-space: normal;
	background: whitesmoke;
	border: 1px solid #eee;
	font-size: 90%;
	border-radius: 2px;
	padding: 10px;
}

footer .center-allcap {
	margin-bottom: -5rem !important;
	margin-top: 5rem !important;
}

footer a {
	text-decoration: none;
}

.name {
	font-weight: bold;
}

.contributor .links {
	letter-spacing: 5px;
	margin-top: 10px;
	font-size: 125%;
}

.contributor .links a {
	color: #555;
}

.contributor a:hover {
	color: #69e;
}

footer {
	text-align: center;
	color: #666;
	font-size: 105%;
}
