/*
	One Grid -- The CSS
*/

body { margin: 0; }

/* All block-level elements should have border-box */
body address, body article, body aside, body blockquote, body canvas, body dd, body div, body dl, body fieldset, body figcaption, body figure, body footer, body form, body h1, body h2, body h3, body h4, body h5, body h6, body header, body hgroup, body hr, body li, body main, body nav, body noscript, body ol, body output, body p, body pre, body section, body table, body tfoot, body ul, body video {
	box-sizing: border-box;
}

.container {
	max-width: 100%;
	width: 95%;
	margin: 0 auto;
}

.container:after {
	content: "";
	clear: both;
	display: block;
}

.one {
	float: left;
	width: 100%;
}
.one.half {
	width: 50%;
}
.one.third {
	width: 33.3333333333%;
	width: calc(1/3 * 100%);
}
.one.fourth {
	width: 25%;
}
.one.fifth {
	width: 20%;
}
.one.sixth {
	width: 16.6666666666%;
	width: calc(1/6 * 100%);
}
.one.seventh {
	width: 14.2857142857%;
	width: calc(1/7 * 100%);
}
.one.eighth {
	width: 12.5%;
}
.one.ninth {
	width: 11.1111111111%;
	width: calc(1/9 * 100%);
}
.one.tenth {
	width: 10%;
}
.one.centered {
	float: none;
	margin: 0 auto;
}
.-one {
	overflow: hidden;
}

@media (max-width: 960px) {
	.one {
		width: 50% !important;
	}
}

@media (max-width: 600px) {
	.one {
		width: 100% !important;
	}
}