<!doctype html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>Made with Love in India</title>

		<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="192x192" href="/icons/android-chrome-192x192.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
		<link rel="manifest" href="/icons/site.webmanifest">
		<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#ff0000">
		<meta name="apple-mobile-web-app-title" content="Made with Love in India">
		<meta name="application-name" content="Made with Love in India">
		<meta name="msapplication-TileColor" content="#ff0000">
		<meta name="msapplication-TileImage" content="/icons/mstile-144x144.png">
		<meta name="theme-color" content="#f10032">

		<link rel="author" href="/humans.txt">

	</head>

	<body>

		<noscript>Please enable JavaScript to view this website.</noscript>
		<div id="app"></div>

		<script type="application/ld+json">
			{
				"@context": "http://schema.org/",
				"@type": "Organization",
				"name": "Made with Love in India",
				"alternateName": "Made with ♥ in India",
				"url": "https://madewithlove.org.in",
				"logo": "https://madewithlove.org.in/icons/apple-touch-icon.png",
				"email": "hello@madewithlove.org.in",
				"founders": [
					{
						"@type": "Person",
						"name": "Anand Chowdhary",
						"birthDate": "1997-12-29",
						"birthPlace": {
							"@type": "Place",
							"address": {
								"@type": "PostalAddress",
								"addressLocality": "New Delhi, India"
							}
						},
						"gender": "Male",
						"nationality": "India",
						"url": "https://madewithlove.org.in/profile/anand-chowdhary",
						"sameAs": [
							"https://anandchowdhary.com",
							"https://oswaldlabs.com/team/anand",
							"https://www.wikidata.org/wiki/Q33134612",
							"https://www.facebook.com/AnandChowdhary",
							"https://twitter.com/AnandChowdhary",
							"https://www.instagram.com/AnandChowdhary/",
							"https://www.linkedin.com/in/AnandChowdhary/"
						]
					}
				],
				"foundingDate": "2016-08-15",
				"foundingLocation": {
					"@type": "Place",
					"address": {
						"@type": "PostalAddress",
						"addressLocality": "New Delhi",
						"addressCountry": "India"
					}
				},
				"sameAs": [
					"https://www.wikidata.org/wiki/Q42957923",
					"https://www.facebook.com/MadewithLoveinIndia",
					"https://twitter.com/mwlii",
				]
			}
		</script>

	</body>

</html>
